html{
    height: 100%;
    margin: 0px 3px 0x 0px;
}
body{
    background-image: url("images1/back.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.title{
    width: min-content;
    text-align: center;
    display: inline-block;
    flex-wrap: wrap;
    border: 0px solid white;
    margin-top: 100px;
}
span{
    text-decoration: underline;
}
span:hover{
    color: blueviolet;
    text-decoration: underline;
}
.title > h1{
    color: seagreen;
    font-size: 50px;
    font-weight: bold;
}
.title > h2{
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.imagebox{
    width: fit-content;
    display: inline-block;
    justify-content: center;
    border: 0px solid white;
}
#image1{
    width: 440px;
    height: 250px;
    border: 0px solid white;
    margin-top: 50px;
}
#image1 > img{
    width: 100%;
    height: 100%;
}
#pro{
    width: 250px;
    height: 250px;
    margin-top: 40px;
    display: inline-block;
    justify-content: center;
    border-radius: 50%;
    border: 0px solid white;
}
#pro > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#two{
    color: aqua;
    font-weight: bold;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#para{
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}
#hd{
    color: aqua;
    font-size: 35px;
    font-weight: bold;
    margin-top: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.icon{
    color: aliceblue;
    font-size: 30px;
}
.skills{
    width: fit-content;
    display: inline-block;
    justify-content: center;
    border: 0px solid white;
}
.skills > h3{
    color: aqua;
    font-size: 25px;
    font-weight: bold;
}
.skills > img{
    width: 269.5px;
    height: 270px;
    float: left;
    margin: 10px 20px 10px 0px;
}
.skills > p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.movie{
    width: fit-content;
    display: inline-block;
    justify-content: center;
    border: 0px solid white;
}
.movie > h3{
    color: aqua;
    font-size: 25px;
    font-weight: bold;
}
.movie > img{
    width: 270px;
    height: 290px;
    float: left;
    margin: 8px 20px 10px 0px;
}
.movie > p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
#touch{
    color: rgb(186, 202, 127);
    font-weight: bold;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.df{
    color: teal;
    font-size: 25px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.graph{
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}
button{
    width: 200px;
    height: 70px;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: seagreen;
}
button > a{
    color: white;
}
button:hover{
    background-color: royalblue;
}
footer{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;

}

